.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0.5em 1em;
  border-radius: var(--default-radius);
  color: var(--clr-neutral-100);
  cursor: pointer;

  &__icon {
    font-size: 1rem;
  }

  &--pagination {
    width: 2rem;
    height: 2rem;
    padding: 1em;
    font-weight: var(--fw-medium);
    background-color: var(--clr-neutral-200);
    color: var(--clr-primary-900);
    border: none;


    &:hover {
      box-shadow: 0 0 2px 2px var(--clr-neutral-400);
      color: var(--clr-primary-900);
    }

    &[data-selected="true"] {
      border: 0.1rem solid var(--clr-primary-900);
      background-color: var(--clr-primary-200);
      color: var(--clr-primary-900);
    }
  }

  &__edit {
    background-color: var(--clr-primary-300);
    &:hover {
      background-color: var(--clr-primary-310);
    }
    &:focus,
    &:active {
      background-color: var(--clr-primary-350);
    }
  }

  &__delete {
    background-color: var(--clr-primary-400);
    &:hover {
      background-color: var(--clr-primary-410);
    }
    &:focus,
    &:active {
      background-color: var(--clr-primary-450);
    }
  }
  &__new {
    background-color: var(--clr-neutral-300);
    color: var(--clr-primary-900);

    &:hover {
      background-color: var(--clr-neutral-100);
    }

    &:focus,
    &:active {
      background-color: var(--clr-neutral-400);
    }
  }

  @media (max-width: 700px) {
    padding: 0.2em 0.4em;
    &__text {
      display: none;
    }
  }

  @media (min-width: 600px) and (max-width: 800px) {
    padding: 0.5em 2em;
    &__text {
      &--2 {
        display: none;
      }
    }
  }
}
