$colors: (
  primary: (
    300: hsl(227, 67%, 52%),
    310: hsl(227, 67%, 62%),
    350: hsl(227, 67%, 40%),
    400: hsl(0, 67%, 52%),
    410: hsl(0, 67%, 62%),
    450: hsl(0, 67%, 40%),
    900: hsl(0, 0%, 0%),
  ),
  neutral: (
    100: #ffff,
    200: hsl(0, 0%, 91%),
    300: hsl(0, 0%, 85%),
    400: hsl(0, 0%, 70%),
    600: hsl(0, 0%, 40%),
  ),
);
