:root {
  --clr-primary-300: hsl(227deg, 67%, 52%);
  --clr-primary-310: hsl(227deg, 67%, 62%);
  --clr-primary-350: hsl(227deg, 67%, 40%);
  --clr-primary-400: hsl(0deg, 67%, 52%);
  --clr-primary-410: hsl(0deg, 67%, 62%);
  --clr-primary-450: hsl(0deg, 67%, 40%);
  --clr-primary-900: hsl(0deg, 0%, 0%);
  --clr-neutral-100: white;
  --clr-neutral-200: hsl(0deg, 0%, 91%);
  --clr-neutral-300: hsl(0deg, 0%, 85%);
  --clr-neutral-400: hsl(0deg, 0%, 70%);
  --fs-s: 0.8rem;
  --fs-m: 1rem;
  --fs-l: 1.2rem;
  --fs-xl: 1.5rem;
  --fs-xxl: 2rem;
  --fs-xxxl: 2.5rem;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --ff-primary: "EB Garamond", serif;
  --default-radius: .5rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

textarea, input {
  outline: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: var(--clr-neutral-200);
  font-family: var(--ff-primary);
  font-size: var(--fs-l);
  font-weight: var(--fw-regular);
  direction: rtl;
}

.main--container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 10rem 0;
}

.line--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.words {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.word {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-neutral-300);
  padding: 0.5rem 2rem;
  border-radius: var(--default-radius);
}

.word[deleted_state=true] {
  overflow: hidden;
  height: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.word--container {
  display: flex;
  flex-direction: column;
}

.new--word {
  display: flex;
  gap: 2rem;
}

.context--container {
  background-color: var(--clr-neutral-300);
  border-radius: var(--default-radius);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contexts {
  display: flex;
  flex-direction: column;
}

.context {
  display: flex;
  flex-direction: column;
}
.context__content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.keywords--container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.keywords {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  direction: rtl;
  background-color: var(--clr-neutral-100);
  padding: 1rem;
  border-radius: var(--default-radius);
}
.keywords__title {
  width: 20%;
}

.keyword {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--clr-primary-310);
  border-radius: var(--default-radius);
  padding: 0.5em 1em;
}
.keyword--new {
  width: 20%;
}

.title {
  margin-left: auto;
  margin-right: auto;
}

.ref {
  margin-left: auto;
}

.ref--container {
  display: flex;
  width: 50%;
  align-items: flex-start;
  justify-content: center;
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0.5em 2em;
  border-radius: var(--default-radius);
  color: var(--clr-neutral-100);
  cursor: pointer;
}
.btn__edit {
  background-color: var(--clr-primary-300);
}
.btn__edit:hover {
  background-color: var(--clr-primary-310);
}
.btn__edit:focus, .btn__edit:active {
  background-color: var(--clr-primary-350);
}
.btn__delete {
  background-color: var(--clr-primary-400);
}
.btn__delete:hover {
  background-color: var(--clr-primary-410);
}
.btn__delete:focus, .btn__delete:active {
  background-color: var(--clr-primary-450);
}
.btn__new {
  background-color: var(--clr-neutral-300);
  color: var(--clr-primary-900);
}
.btn__new:hover {
  background-color: var(--clr-neutral-100);
}
.btn__new:focus, .btn__new:active {
  background-color: var(--clr-neutral-400);
}

textarea, input {
  border: none;
  padding: 0.5em 2em;
  border-radius: var(--default-radius);
  direction: rtl;
}
textarea:focus, textarea :active, input:focus, input :active {
  border: 0.2rem solid var(--clr-primary-300);
}

textarea {
  resize: none;
}

/*# sourceMappingURL=styles.css.map */
