:root {
  --clr-primary-300: hsl(227, 67%, 52%);
  --clr-primary-310: hsl(227, 67%, 62%);
  --clr-primary-350: hsl(227, 67%, 40%);
  --clr-primary-400: hsl(0, 67%, 52%);
  --clr-primary-410: hsl(0, 67%, 62%);
  --clr-primary-450: hsl(0, 67%, 40%);
  --clr-primary-900: hsl(0, 0%, 0%);
  --clr-neutral-100: white;
  --clr-neutral-200: hsl(0, 0%, 91%);
  --clr-neutral-300: hsl(0, 0%, 85%);
  --clr-neutral-400: hsl(0, 0%, 70%);
  --clr-neutral-600: hsl(0, 0%, 40%);
  --fs-s: 0.8rem;
  --fs-m: 1rem;
  --fs-l: 1.2rem;
  --fs-xl: 1.5rem;
  --fs-xxl: 2rem;
  --fs-xxxl: 2.5rem;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --ff-primary: "EB Garamond", serif;
  --default-radius: 5px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

textarea, input {
  outline: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: var(--clr-neutral-200);
  font-family: var(--ff-primary);
  font-size: var(--fs-l);
  font-weight: var(--fw-regular);
  direction: rtl;
}

h4 {
  font-size: var(--fs-l);
}

.main--container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 10rem 0;
}

.logout {
  position: fixed;
  top: 1rem;
  right: 2rem;
  padding: 0.5em 0em;
}

.download {
  position: fixed;
  top: 1rem;
  right: 12rem;
  padding: 0.5em 0em;
}

.line--container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.words {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.words__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nbwords-info {
  text-align: center;
  opacity: 0.7;
}

.word {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-neutral-300);
  padding: 0.5rem 2rem;
  border-radius: var(--default-radius);
}
.word__content {
  width: 30%;
}
.word--selector {
  width: 1rem;
  height: 1rem;
  border-radius: 2px;
  background-color: var(--clr-neutral-400);
  cursor: pointer;
}
.word--selector:hover {
  background-color: var(--clr-neutral-300);
  border: 0.2rem solid var(--clr-primary-400);
}
.word--selector:focus, .word--selector:active {
  background-color: var(--clr-primary-400);
  box-shadow: 0 0 5px 5px var(--clr-neutral-400);
}
.word--selector[data-selected=true] {
  background-color: var(--clr-primary-400);
}

.word[deleted_state=true] {
  overflow: hidden;
  height: 0;
}

.definition {
  padding: 1.2rem;
  display: flex;
}
.definition__content {
  margin: 0 auto;
  width: 80%;
  border: 2px solid var(--clr-neutral-400);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
@media (max-width: 600px) {
  .menu {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 1600px) {
  .main--container {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .main--container {
    width: 90%;
  }
}
.word--container {
  display: flex;
  flex-direction: column;
}

.new--word {
  display: flex;
  gap: 2rem;
}
.new--word input[data-error=true] {
  background-color: var(--clr-primary-410);
  color: var(--clr-neutral-100);
}
@media (max-width: 750px) {
  .new--word {
    flex-direction: column;
    gap: 0.5rem;
  }
  .new--word .word {
    text-align: center;
  }
}

.context--container {
  background-color: var(--clr-neutral-300);
  border-radius: var(--default-radius);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contexts {
  display: flex;
  flex-direction: column;
}

.context {
  display: flex;
  flex-direction: column;
}
.context__content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.context__content[data-error=true] {
  background-color: var(--clr-primary-410);
  color: var(--clr-neutral-100);
}

.keywords--container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.keywords {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  direction: rtl;
  background-color: var(--clr-neutral-100);
  padding: 1rem;
  border-radius: var(--default-radius);
}
.keywords__title {
  width: 20%;
}

.keyword {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--clr-primary-310);
  border-radius: var(--default-radius);
  padding: 0.5em 1em;
}
.keyword--new {
  width: 20%;
}

.title {
  margin-left: auto;
  margin-right: auto;
}

.ref {
  margin-left: auto;
}

.ref--container {
  display: flex;
  width: 50%;
  align-items: flex-start;
  justify-content: center;
}
@media (max-width: 900px) {
  .ref--container {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
}

.login {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  margin-top: 25vh;
  padding: 2rem;
  box-shadow: 0 0 1rem 0.5rem var(--clr-neutral-400);
  border-radius: var(--default-radius);
}
.login input {
  width: 80%;
}
.login__submit {
  width: 50%;
}
@media (max-width: 1200px) {
  .login {
    width: 60%;
  }
  .login input {
    width: 90%;
  }
  .login__submit {
    width: 60%;
  }
}
@media (max-width: 1000px) {
  .login {
    width: 70%;
  }
  .login input {
    width: 95%;
  }
  .login__submit {
    width: 70%;
  }
}
@media (max-width: 700px) {
  .login {
    width: 80%;
  }
  .login input {
    width: 97%;
  }
  .login__submit {
    width: 80%;
  }
}
@media (max-width: 300px) {
  .login {
    width: 100%;
    padding: 3rem 0;
    border-radius: 0;
  }
  .login input {
    width: 100%;
  }
  .login__submit {
    width: 95%;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0.5em 2em;
  border-radius: var(--default-radius);
  color: var(--clr-neutral-100);
  cursor: pointer;
}
.btn__icon {
  font-size: 1rem;
}
.btn--pagination {
  width: 2rem;
  height: 2rem;
  padding: 1em;
  font-weight: var(--fw-medium);
  background-color: var(--clr-neutral-200);
  color: var(--clr-primary-900);
  border: none;
}
.btn--pagination:hover {
  box-shadow: 0 0 2px 2px var(--clr-neutral-400);
  color: var(--clr-primary-900);
}
.btn--pagination[data-selected=true] {
  border: 0.1rem solid var(--clr-primary-900);
  background-color: var(--clr-primary-200);
  color: var(--clr-primary-900);
}
.btn__edit {
  background-color: var(--clr-primary-300);
}
.btn__edit:hover {
  background-color: var(--clr-primary-310);
}
.btn__edit:focus, .btn__edit:active {
  background-color: var(--clr-primary-350);
}
.btn__delete {
  background-color: var(--clr-primary-400);
}
.btn__delete:hover {
  background-color: var(--clr-primary-410);
}
.btn__delete:focus, .btn__delete:active {
  background-color: var(--clr-primary-450);
}
.btn__new {
  background-color: var(--clr-neutral-300);
  color: var(--clr-primary-900);
}
.btn__new:hover {
  background-color: var(--clr-neutral-100);
}
.btn__new:focus, .btn__new:active {
  background-color: var(--clr-neutral-400);
}
@media (max-width: 700px) {
  .btn {
    padding: 0.2em 0.4em;
  }
  .btn__text {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  .btn {
    padding: 0.5em 2em;
  }
  .btn__text--2 {
    display: none;
  }
}

textarea, input {
  border: none;
  padding: 0.5em 2em;
  border-radius: var(--default-radius);
  direction: rtl;
}
textarea:focus, textarea :active, input:focus, input :active {
  border: 0.2rem solid var(--clr-primary-300);
}

textarea {
  resize: none;
}

.pagination__info {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  box-shadow: 0 0 0.2rem 0.2rem var(--clr-neutral-400);
  padding: 1rem 2rem;
}
.pagination__info ul {
  display: flex;
  gap: 0.5rem;
}
.pagination__info ul li {
  padding-right: 0.5rem;
  border-right: 2px solid var(--clr-neutral-400);
  cursor: pointer;
}
.pagination__info ul li:hover {
  color: var(--clr-primary-700);
}
.pagination__info ul[data-lang=ar] {
  flex-direction: row-reverse;
}
.pagination__pages {
  display: flex;
  gap: 0.5rem;
  margin: 0 auto;
}

/*# sourceMappingURL=styles.css.map */
