
.main--container {
    width : 50%;
    margin-left: auto;
    margin-right : auto;
    padding : 10rem 0;
}


.words {
    display: flex;
    flex-direction: column;
    gap : 2rem;
}

.word {
    display: flex;
    width : 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-neutral-300);
    padding: .5rem 2rem;
    border-radius : var(--default-radius);
}

.word[deleted_state='true'] {
    overflow: hidden;
    height : 0;
}


.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}